.logo img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    float: left;
}

.logo {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: red;
}

.sol {
  float: right;

}

#set{
  margin-left: 100px;
  border-style: solid;
}
#set img{
  width: 100%
}
#first img{
  width: 100%;
  border-style: solid;
}

a:hover {
    background-color: green;
  }
